/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, 'poppins', sans-serif;
}

/* Hilangin scrollbar tapi tetap bisa scroll */
::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

html, body {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}
